In [1]:
import numpy as np
import pandas as pd

In [2]:
def activate(x):
    if x < 0:
        return 0
    return 1

In [3]:
def OR(a,b):
    if a == 1:
        return 1
    elif b == 1:
        return 1
    else:
        return 0

In [4]:
def NOT(x):
    if x==0:
        return 1
    elif x==1:
        return 0
    else:
        None

In [5]:
def XNOR(a,b):
    if a==b:
        return 1
    else:
        return 0

In [6]:
def XOR(a,b):
    if a==b:
        return 0
    else:
        return 1

In [7]:
#AND
andBias = 1 * -1.5
x1 = [0,0,1,1]
x2 = [0,1,0,1]
data = [x1*x2 for x1,x2 in zip(x1,x2)]

summ = [x1+x2+b for x1,x2,b in zip(x1,x2,[-1.5,-1.5,-1.5,-1.5])]
a = [activate(x) for x in summ]
table = pd.DataFrame({'X1':x1,'X2':x2,'X1&X2':data,'X1 weight':1,'X2 weight':1,'bias': andBias,
                       '(-1.5+x1+x2)':summ,'a': a})

In [8]:
table

   X1  X2  X1&X2  X1 weight  X2 weight  bias  (-1.5+x1+x2)  a
0   0   0      0          1          1  -1.5          -1.5  0
1   0   1      0          1          1  -1.5          -0.5  0
2   1   0      0          1          1  -1.5          -0.5  0
3   1   1      1          1          1  -1.5           0.5  1

In [9]:
#OR
orBias = 1 * -0.5
x1 = [0,0,1,1]
x2 = [0,1,0,1]
data = [OR(x1,x2) for x1,x2 in zip(x1,x2)]
summ = [x1+x2+b for x1,x2,b in zip(x1,x2,[-0.5,-0.5,-0.5,-0.5])]
a = [activate(x) for x in summ]
table = pd.DataFrame({'X1':x1,'X2':x2,'X1 or X2':data,'X1 weight':1,'X2 weight':1,'bias': orBias,
                       '(-0.5+x1+x2)':summ,'a':a})

In [10]:
table

   X1  X2  X1 or X2  X1 weight  X2 weight  bias  (-0.5+x1+x2)  a
0   0   0         0          1          1  -0.5          -0.5  0
1   0   1         1          1          1  -0.5           0.5  1
2   1   0         1          1          1  -0.5           0.5  1
3   1   1         1          1          1  -0.5           1.5  1

In [11]:
#NOT
notBias = 1 * 1
x1 = [0,1]
x1weight = [-2,-2]
data = [NOT(x) for x in x1]
summ = [b + x * y for b,x,y in zip([1,1],x1,x1weight)]
a = [activate(x) for x in summ]
table = pd.DataFrame({'X1':x1,'not X1':data,'X1 weight':x1weight,'bias': notBias,'(1–2*x1)':summ,'a': a})

In [12]:
table

   X1  not X1  X1 weight  bias  (1–2*x1)  a
0   0       1         -2     1         1  1
1   1       0         -2     1        -1  0

In [13]:
#XNOR
xnorBias = 1 * 0.5
x1 = [0,0,1,1]
x2 = [0,1,0,1]
notx1 = [NOT(x) for x in x1]
notx2 = [NOT(x) for x in x2]
data = [x1*x2 for x1,x2 in zip(notx1,notx2)]
summ = [b-x1-x2 for b,x1,x2 in zip([0.5,0.5,0.5,0.5],x1,x2)]
a1 = [activate(x) for x in summ]
a2 = [x1*x2 for x1,x2 in zip(x1,x2)]
a3 = [XNOR(x1,x2) for x1,x2 in zip(x1,x2)]
table = pd.DataFrame({'X1':x1,'X2':x2,'X1"and X2"':data,'X1 weight':-1,'X2 weight':-1,'bias': xnorBias,
                      '(0.5–x1–x2)':summ,'a1': a1,'a2':a2,'a3':a3})

In [14]:
table

   X1  X2  X1"and X2"  X1 weight  X2 weight  bias  (0.5–x1–x2)  a1  a2  a3
0   0   0           1         -1         -1   0.5          0.5   1   0   1
1   0   1           0         -1         -1   0.5         -0.5   0   0   0
2   1   0           0         -1         -1   0.5         -0.5   0   0   0
3   1   1           0         -1         -1   0.5         -1.5   0   1   1

In [15]:
#XOR
xorBias = 1 * 0.5
x1 = [0,0,1,1]
x2 = [0,1,0,1]
notx1 = [NOT(x) for x in x1]
notx2 = [NOT(x) for x in x2]
data = [x1*x2 for x1,x2 in zip(notx1,notx2)]
summ = [b-x1-x2 for b,x1,x2 in zip([0.5,0.5,0.5,0.5],x1,x2)]
a1 = [activate(x) for x in summ]
a2 = [x1*x2 for x1,x2 in zip(x1,x2)]
a3 = [XOR(x1,x2) for x1,x2 in zip(x1,x2)]
table = pd.DataFrame({'X1':x1,'X2':x2,'X1"or X2"':data,'X1 weight':-1,'X2 weight':-1,'bias': xorBias,
                      '(0.5–x1–x2)':summ,'a1': a1,'a2':a2,'a3':a3})

In [16]:
table

   X1  X2  X1"or X2"  X1 weight  X2 weight  bias  (0.5–x1–x2)  a1  a2  a3
0   0   0          1         -1         -1   0.5          0.5   1   0   0
1   0   1          0         -1         -1   0.5         -0.5   0   0   1
2   1   0          0         -1         -1   0.5         -0.5   0   0   1
3   1   1          0         -1         -1   0.5         -1.5   0   1   0